#page-header {
    min-height: 10vh;
}

#meet_the_team {
    Min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));

}
#page_section {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-columns: : repeat(auto-fit, minmax(300px,2fr));
margin: 100px;
padding: 5px 10px;

}
#page_footer {
    min-height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr)),
    
}

@media only screen and (min-width: 400px) {
    #Team{
        display: none
    }
}
#class {
    display: grid;
    object-fit: cover;
}
